/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
list-style: 1.5;  color: purple;
}

ul {
    list-style: lower-roman;
    padding-left: 5rem;
    text-decoration: overline;
}

/* UTILITY CLASSES */
.gogo {
    font-size: 3rem;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
    font-family: monospace;
}
#pic { 
    align-self: center;
    align-content: center;
    padding: .7rem 1.3rem;
    padding-left: 16%;
    shape-image-threshold: initial;
    width: 80%;
    height: initial;
    image-resolution: 7rem 1.3rem;
    column-width: 9rem;
}
.img {
     width: 1000;
     
     shape-image-threshold: circle;
}
.btn {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 3rem;
}
#container {
    padding: 2rem;
   column-gap: 3rem;
   color: rgb(9, 3, 36);
}
.tt {
    text-transform: inherit;
    text-decoration: brown;
    font-family: cursive;
}