/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
list-style: 1.5;
}
ul {
    list-style: none;
}
a { 
    text-decoration: none;
}
/* UTILITY CLASSES */
#container {
    max-width: 960px;
    margin: 2rem auto 0;
    overflow: hidden;
}
.logo {
    width: 300px;
}
.btn {
    display: inline-block;
    padding: .7rem 1.3rem;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    background-color: yellow;
}
/* header navbar */
#main-header {
    background-color: #eeeeee;
    color: #333;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;
}
#navbar ul {
    display: flex;
}
#navbar ul li{
    padding: 1rem 2rem;
}
#navbar ul li a {
    color: #333;
    font-size: 1.3rem;
}
.message-box{
    margin: 1.5rem;
    padding: .8rem;
    text-align: center;
}
.message-box h1{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.message-box input{
    display: block;
    margin: auto;
    width: 30%;
    padding: .4rem;
    margin-bottom: 1rem;

}
#feature{
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction:column ;
    
}
#feature .feature{
    display: inline-flex;
    justify-self: center;
    align-items: center;
}
#feature .feature i{
    color: orange;
    
}
#feature .feature div {
    padding: 1rem;
    margin-left: 3rem;
}
#feature .feature  div h2{
    font-size: 1.5rem;
    margin-bottom: .5rem;

}
#how-it-works {
    padding: 3rem;
    margin: auto;
    text-align: center;
}
#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem .2rem;
}
.price-box{
    border: solid #333 3px;
    border-radius: 2px;
    
}
.price-box:first-child {
    margin-right: 1.2rem;
}
.price-box:last-child {
    margin-left: 1.2rem;
}
.price-box h3 {
    background-color: #ddd;
    font-size: 1.05rem;
    padding: 1rem;
}
.price-box h2{
    padding: 1rem;

}
.price-box p {
    padding: 0 4rem 1rem;

}
.price-box .btn {
    display: inline-block;
    margin: 1rem;

}
/*  FOOTER */
#main-footer{
    background-color: #ccc;
    padding: 1rem 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#main-footer div a {
    color: #333;
    padding: .5rem 1rem;
    
}
#titi {
    text-decoration: underline;
    color:blueviolet;
}
/*  TABLET AND SMARTPHONE  */
@media (max-width: 800px) {
    #navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}